{
  "parser": "@typescript-eslint/parser",
  "extends": ["@ithinku/eslint-config-ts", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {}
}
